main {
	background-color: lightgrey;
	font-family: 'Varela Round', sans-serif;
}

.feature {
	max-width: 70%;
	min-width: 600px;
	text-align: center;
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	left: 15%;
}

.feature > td {
	background-color: lightgrey;
	padding: 5px;
	border: 5px ridge grey;
	border-radius: 5px;
}

.cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}